html,
body {
    height: 100%;
    background-color: #333;
}
body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.content {
    font-size: 20px;
    line-height: 20;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
}

h4 {
    margin-top: 25px;
}
.row {
    /*margin-bottom: 20px;*/
}
.row .row {
    margin-top: 10px;
    margin-bottom: 0;
}
[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

.time-line {
    font-size: 14px;
    line-height: 1.42857;
}
.affix-top {
    position: absolute;
    top: 100%;
}
.affix {
    top: 50px;
}
.active > a {
    color: #000;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    background-image: url(../img/cover.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}




/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}


.site-wrapper-inner {
    vertical-align: middle;
}

@media (min-width: 992px) {
    .cover-container {
        width: 700px;
    }
}

.lead {
    font-size: 21px;
}